**/*.png
**/*.svg
yarn.lock

CODEOWNERS
CNAME
LICENSE
CHANGELOG.*.md
AUTHORS.txt


lib/
es/
dist/
_site/
server
coverage/
netlify.toml

*.sh
*.snap
.gitignore
.npmignore
.prettierignore
.editorconfig
.eslintignore
.dockerignore
.history
**/*.yml
*.html