/*
  Button sizes
*/

.rui-btn--tiny {
    @apply px-2.5 py-1.5 text-xs;
}
.rui-btn--small {
    @apply px-3 py-2 text-sm leading-4;
}
.rui-btn--medium {
    @apply px-4 py-2 text-sm;
}
.rui-btn--large {
    @apply px-4 py-2 text-base;
}
.rui-btn--xlarge {
    @apply px-6 py-3 text-base;
}

/*
  Button varients
*/

.dark .rui-btn-primary {
    text-shadow: 0px 0px 4px rgba(38 111 78 / 50%);
}

.dark .rui-btn-default {
    text-shadow: 0px 0px 4px rgba(31 31 31 / 50%);
}

.dark .rui-btn-secondary {
    text-shadow: 0px 0px 4px rgba(42 42 42 / 50%);
}
